[submodule "spire-k8s-sat-plugin"]
	path = spire-k8s-sat-plugin
	url = https://github.com/accuknox/spire-k8s-sat-plugin.git
[submodule "spire-k8s-secret-plugin"]
	path = spire-k8s-secret-plugin
	url = https://github.com/accuknox/spire-k8s-secret-plugin.git
